.splist {
  margin: 2px;
  padding: 2px;
  border: 1px solid  black;
	
}

.spproduct { 
  float: left;
  padding: 2px;
  margin: 2px;
  border: 1px solid  black;
}

.spthumb {
  background-color:white;
  	
}

.spdetail {
  text-align:center;
}


